<section class="stats-section">

    <div class="stats-container">

        <!-- LEFT SIDE -->
        <div class="stats-block">

            <h2 class="section-title">
                For <span>Borrowers</span>
            </h2>

            <!-- Image Placeholder -->


            <div class="image-wrapper">
                <img src="assets/borr.png" class="stats-image" />
            </div>

            <div class="description">
                <p>
                    Settle in minutes—without the stress. Tap Settle and we’ll chart the best path
                    from your loan details.
                </p>

                <p>
                    Whether your loan’s with Moneytor or a partner, we guide every step—clearly
                    and quickly. Start now to move closer to debt-free with full clarity,
                    control, and support.
                </p>
            </div>

            <button class="cta orange-btn">
                Get Moneytor Care
            </button>

        </div>


        <!-- RIGHT SIDE -->
        <div class="stats-block">

            <h2 class="section-title">
                For <span>Investors</span>
            </h2>

            <!-- Image Placeholder -->
            <div class="image-wrapper right-image">
                <img src="assets/inv.png" class="stats-image" />
            </div>

            <div class="description">
                <p>
                    Earn up to 30%—with a 25% minimum—by investing in high-yield loans.
                </p>

                <p>
                    This structured credit opportunity aims to outperform traditional
                    instruments while smoothing market cycles for more consistent returns.
                </p>
            </div>

            <button class="cta green-btn">
                Get Drip Money
            </button>

        </div>

    </div>

</section>



<section class="lenders-section">
    <h2 class="lenders-title">Platform trusted by 50+ lenders</h2>
    
    <div class="lenders-container">
        <div class="lenders-track">
            <div class="logo-item">
                <img src="assets/lenders/jupiter.png" alt="Jupiter">
            </div>
            <div class="logo-item">
                <img src="assets/lenders/muthoot.png" alt="Muthoot Fincorp">
            </div>
            <div class="logo-item">
                <img src="assets/lenders/earlysalary.png" alt="EarlySalary">
            </div>
            <div class="logo-item">
                <img src="assets/lenders/payu.png" alt="PayU">
            </div>
            <div class="logo-item">
                <img src="assets/lenders/neogrowth.png" alt="NeoGrowth">
            </div>
            </div>
    </div>
</section>